* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --width-desktop: 1440px;
}
html,
body {
  height: 100%;
  background-color: #1f2024;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--width-desktop);
}

section {
  background-color: #2d3043;
  padding: 3rem;
  border-radius: 2rem;
  color: #fff;
  box-shadow: 1px 5px 10px 0.2px #000;
}
h1 {
  margin-bottom: 2rem;
}
.acciones {
  width: 500px;
}
.entradas {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
input,
button {
  box-shadow: 1px 2px 2px 0.2px #000;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
}
input:focus {
  outline: 3px solid #aab0e3;
}
button:hover {
  outline: 3px solid #aab0e3;
}
.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.botones button {
  width: 70px;
}
#por {
  padding: 0;
  padding: 15px 20px 5px 20px;
}
#simbolo {
  padding-top: 1%;
}

@media (max-width: 650px) {
  section {
    max-width: 450px;
  }
  .entradas {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  #simbolo {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .botones {
    flex-wrap: wrap;
    width: 300px;
  }
  button {
    margin-bottom: 0;
  }
  h1 {
    text-align: center;
  }
  .acciones {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    margin-top: 2rem;
  }
}
